* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  padding: 120px 0;
  background-color: rgb(230, 230, 230);
}

.todo {
  max-width: 600px;
  border-radius: 16px;
  margin: 0 auto;
  padding: 32px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.todo__form {
}

.todo__error-message {
  display: none;
  text-align: center;
  background-color: #d6323249;
  color: #d63232;
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
}

.todo__input {
  width: 100%;
  line-height: 48px;
  margin-bottom: 32px;
  padding: 0 12px;
  font-size: 22px;
}

.todo__tasks {
}

.todo__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  height: 32px;
  border-bottom: 1px solid #666;
}

.todo__task-delete {
  text-decoration: none;
  color: #d63232;
  padding: 6px 0;
  font-weight: bold;
}
